video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.App {
  background-color: rgba(255, 255, 255, 0.3);
}
.container {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 45px;
  letter-spacing: 1px;
  text-decoration: underline;
  color: rgb(12, 12, 116);
  text-shadow: rgb(136, 223, 250) 1px 1px;
}
.cuisine {
  margin-top: 0;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(12, 12, 116);
}
.wrapper-search {
  display: flex;
}
.wrapper-search > * + * {
  margin-left: 60px;
}
.wrapper-btn {
  display: flex;
  flex-wrap: wrap;
}
.wrapper-btn button{
  margin-top: 30px;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}
button {
  border-radius: 10px;
  background: rgb(136, 223, 250, 0.4);
  border: none;
  transition: 0.2s all ease;
}
button:hover {
  background: rgb(136, 223, 250);
}
.search {
  width: 100%;
  padding: 18px 24px;
  font-size: 18px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 4px rgb(136, 223, 250);
  font-weight: 700;
}
.image {
  padding: 14px;
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 4px rgb(136, 223, 250);
}
.card {
  margin: 15px auto;
  width: 350px;
  background-color: rgba(201, 209, 209, 0.5);
}
.card:hover {
  background: rgb(136, 223, 250);
}
.card-title {
  font-size: 30px;
  color: rgb(4, 115, 167);
  text-align: center;
}
li {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  text-shadow: 0 1px 1px rgba(255,255,255,.5);
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.recipes-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    justify-content: space-evenly;
    margin: 20px 10px;
}
